<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pawpatrolbuildv10" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PawPatrolBuildV10" >
        <activity
            android:name=".pp_guinea_disease"
            android:exported="false" />
        <activity
            android:name=".pp_hamster_disease"
            android:exported="false" />
        <activity
            android:name=".pp_reptile_disease"
            android:exported="false" />
        <activity
            android:name=".pp_frog_disease"
            android:exported="false" />
        <activity
            android:name=".pp_bird_disease"
            android:exported="false" />
        <activity
            android:name=".pp_dog_disease"
            android:exported="false" />
        <activity
            android:name=".pp_cat_diseases"
            android:exported="false" />
        <activity
            android:name=".pp_Hamster"
            android:exported="false" />
        <activity
            android:name=".pp_Guinea_Pig"
            android:exported="false" />
        <activity
            android:name=".pp_reptiles"
            android:exported="false" />
        <activity
            android:name=".disease1_rabbit"
            android:exported="false" />
        <activity
            android:name=".pp_rabbit_diseases"
            android:exported="false" />
        <activity
            android:name=".pp_Rabbit"
            android:exported="false" />
        <activity
            android:name=".pp_tweetMachine"
            android:exported="false" />
        <activity
            android:name=".pp_Doggo"
            android:exported="false" />
        <activity
            android:name=".pp_Catto"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>